<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {%- if settings.favicon != blank -%}
      <link rel="icon" href="{{ settings.favicon | image_url }}" type="image/x-icon">
    {%- endif -%}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'base.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    <style>
          {% # Inlined CSS Variables %}
      {% render 'css-variables' %}
    </style>

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
