{% comment %}
  Section: Featured Products
  Features:
  - Merchant can select up to 8 products
  - Display style: Grid or Scrollable Flex
{% endcomment %}

{{ 'product.css' | asset_url | stylesheet_tag }}

{% assign items = section.settings.featured_products %}

<section class="featured-products">
    
  <div class="container space-section">
    <h3>Feature Products</h3>
    {% if items  %}
      <div class="products-wrapper {{ section.settings.layout_style }}">
        {% for product in items limit: 10 %}
          <div class="product-item">
            <a href="{{ product.url }}" aria-label="{{ product.title | escape }}">
              {% if product.featured_image %}
                <img
                  src="{{ product.featured_image | image_url: width: 400 }}"
                  srcset="
                    {{ product.featured_image | image_url: width: 200 }} 200w,
                    {{ product.featured_image | image_url: width: 300 }} 300w,
                    {{ product.featured_image | image_url: width: 400 }} 400w
                  "
                  sizes="(min-width: 768px) 200px, 40vw"
                  loading="lazy"
                  alt="{{ product.title | escape }}"
                  width="auto"
                  height="auto"
                >
              {% else %}
                <div class="placeholder" role="img" aria-label="No image">No Image</div>
              {% endif %}

              <h3>{{ product.title }}</h3>

              {% assign min_price = product.price_min %}
              {% assign max_price = product.price_max %}
              <p class="price">
                {% if min_price != max_price %}
                  From {{ min_price | money }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}
                {% if product.compare_at_price_max > product.price_max %}
                  <span class="compare">{{ product.compare_at_price_max | money }}</span>
                {% endif %}
              </p>
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="products-empty">No products selected.</div>
    {% endif %}
  </div>
</section>


{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "select",
      "id": "layout_style",
      "label": "Layout Style",
      "options": [
        { "value": "grid", "label": "Grid" },
        { "value": "flex-scroll", "label": "Scrollable Flex" }
      ],
      "default": "grid"
    },
    {
      "type": "product_list",
      "id": "featured_products",
      "label": "Choose products",
      "limit": 10
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "category": "Product"
    }
  ]
}
{% endschema %}
